<div class="landing-wrapper">
    <div class="navbar">
        <p class="logo">EventO</p>
        <ul>

        </ul>
    </div>
    <h1 class="heading">Communities</h1>

    <div class="cards-list">

        <div class="card 2">
            <div class="card_image">
                <img src="https://images.radio-canada.ca/q_auto,w_960/v1/ici-info/16x9/soccer-saison-ballon-43048.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Football</p>
            </div>
        </div>
        

    </div>