


.landing-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 81px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navbar {
    width: 20%;
    height: 40px;
    padding-top: 24px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* background-color: antiquewhite; */
}

.heading{
    color: #FFFFFF;
    padding-top: 60px;
    align-self: center;
    height:50px;
}

.navbar ul {
    display: flex;
    gap: 14px;
}

.getStart {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    padding: 12px 24px;
    background: #502987;
    width: 180px;
    height: 52px;
    border-radius: 8px;
    color: #fff;
    border: none;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
}
.para{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    color:#FFFFFF;
    height: 200 px;

}
.counter{
    padding-left: 50px;
    padding-right: 50px;
    color:#FFFFFF;
    height:200px
}
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  .buttons{
    height: 200px;
    display: flex;
		flex-direction: column;
  }

  .button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    /* position: relative; */
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    width: 24%;
    /* position: absolute; */
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */