<app-navbar-main></app-navbar-main>

<!-- https://randomuser.me/api/portraits/men/73.jpg -->
<br>
<br>
<div class="profile-container">
    <div class="profile">
        <img src="https://www.shutterstock.com/image-vector/user-login-authenticate-icon-human-600w-1365533969.jpg" alt="Profile Picture" class="profile-picture">
        <h2 class="profile-name">John Doe</h2>
        <p class="profile-email">johndoe@example.com</p>
    </div>

    <div class="communities-container">
        <h3 class="section-heading">Member</h3>
        <ul class="communities-list">
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 1 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Community 1</a>
                </div>
            </li>
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 2 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Community 2</a>
                </div>
            </li>
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 3 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Community 3</a>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <div class="events-container">
        <h3 class="section-heading">Events</h3>
        <ul class="communities-list">
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 1 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Event 1</a>
                </div>
            </li>
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 2 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Event 2</a>
                </div>
            </li>
            <li class="community-item">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Community 3 Logo" class="community-logo">
                <div class="community-details">
                    <a class = "nav-item" href="">Event 3</a>
                </div>
            </li>
        </ul>
    </div>
</div>